.color-black {
  color: black !important;
}

.color-dark-blue {
  color: $darkBlue !important;
}

.color-green {
  color: green !important;
}

.color-my-gray {
  color: $myGray !important;
}

.color-my-green {
  color: $myGreen !important;
}

.color-my-light-gray {
  color: $myGrayLight !important;
}

.color-red {
  color: red !important;
}

.color-white {
  color: white !important;
}