
.background {
  background-color: $mainBackgroundColor !important;
}

.background-color-edit-color {
  background-color: $editColor !important;
}

.background-color-main {
  background-color: $mainBackgroundColor !important;
}

.background-color-my-gray-light {
  background-color: $myGrayLight !important;
}

.background-color-my-gray-very-light {
  background-color: $myGrayVeryLight !important;
}

.background-color-white {
  background-color: white !important;
}