$font: 'Roboto';

$darkError: #FF0000FF;
$errorColor: #fca3a3;
$mainBackgroundColor: #f7f7f7;
$myGray: #979797;
$myGrayLight: #cbcbcb;
$myGrayVeryLight: #f1f1f1;


$darkBlue: #012673;
$myGreen: #25bf04;

$editColor: #0288d1;
$dataPickerBackground: #eef5fd;

$one-em: 1em;
$two-em: 2em;
$three-em: 3em;

$spacingUnit: 8px;
