.margin-1su {
  margin: $spacingUnit !important;
}

.margin-2su {
  margin: $spacingUnit * 2 !important;
}

.margin-auto {
  margin: auto !important;
}

.margin-bottom-1su {
  margin-bottom: $spacingUnit !important;
}

.margin-bottom-20px {
  margin-bottom: 20px !important;
}

.margin-bottom-2su {
  margin-bottom: $spacingUnit * 2 !important;
}

.margin-bottom-5px {
  margin-bottom: 5px !important;
}

.margin-left-1su {
  margin-left: $spacingUnit !important;
}

.margin-right-1su {
  margin-right: $spacingUnit !important;
}

.margin-right-20px {
  margin-right: 20px !important;
}

.margin-right-minus30px {
  margin-right: -30px !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-top-05su {
  margin-top: $spacingUnit * 0.5 !important;
}

.margin-top-2em {
  margin-top: 2em !important;
}

.margin-top-2su {
  margin-top: $spacingUnit * 2 !important;
}