.padding-0-0-0-10px {
  padding: 0 0 0 10px !important;
}

.padding-1su {
  padding: $spacingUnit !important;
}

.padding-2su {
  padding: $spacingUnit * 2 !important;
}

.padding-3px {
  padding: 3px !important;
}

.padding-5px-0 {
  padding: 5px 0 !important;
}

.padding-5su {
  padding: $spacingUnit *5 !important;
}

.padding-bottom-1su {
  padding-bottom: $spacingUnit !important;
}


.padding-left-15 {
  padding-left: 15% !important;
}

.padding-left-2su {
  padding-left: $spacingUnit * 2 !important;
}

.padding-left-5px {
  padding-left: 5px !important;
}

.padding-right-05su {
  padding-right: $spacingUnit * 0.5 !important;
}

.padding-right-1su {
  padding-right: $spacingUnit !important;
}

.padding-top-1su {
  padding-top: $spacingUnit !important;
}

.padding-top-2px {
  padding-top: 2px !important;
}

.padding-top-2su {
  padding-top: $spacingUnit * 2 !important;
}

.padding-x-2su {
  padding-left: $spacingUnit * 2 !important;
  padding-right: $spacingUnit * 2 !important;
}

.padding-y-2su {
  padding-top: $spacingUnit * 2 !important;
  padding-bottom: $spacingUnit * 2 !important;
}